.leaderboard-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.mat-column-rank {
  flex: 0 0 50px;
}

.mat-column-nickname {
  flex: 0 0 200px;
}
