<mat-toolbar>
  <mat-icon color="primary">format_list_numbered</mat-icon>
  <span>Leaderboard</span>
  <span></span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Totals">
    <ng-template mat-tab-label>
      <mat-icon>people</mat-icon>
    </ng-template>
    <app-leaderboard></app-leaderboard>
  </mat-tab>
<!--  <mat-tab label="Bike">-->
<!--    <ng-template mat-tab-label>-->
<!--      <rule-icon ruleId="arrivedByBike"></rule-icon>-->
<!--    </ng-template>-->
<!--    <app-leaderboard ruleId="arrivedByBike"></app-leaderboard>-->

<!--  </mat-tab>-->
</mat-tab-group>
