<div class="leaderboard-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef>Rank </mat-header-cell>
      <mat-cell *matCellDef="let playerRank"><a name="{{playerRank.nickname}}"></a> {{playerRank.rank}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nickname" >
      <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
      <mat-cell *matCellDef="let playerRank" (click)="viewUser(playerRank.userId)" style="cursor: pointer"><img style="vertical-align: text-bottom" src="{{(playerRank.avatar | avatarImageUrl).height(20).width(20)}}"/> {{playerRank.nickname}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
      <mat-cell *matCellDef="let playerRank"> {{playerRank.points}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
