<mat-sidenav-container>
  <mat-sidenav #sidenav (click)="sidenav.close()" mode="over">
    <mat-nav-list>
      <mat-list-item (click)="signIn()" *ngIf="!authenticatedUser">
        <mat-icon>face</mat-icon>
        <h1 matLine class="mat-primary">Sign In</h1>
      </mat-list-item>
      <mat-list-item (click)="showAuthUser()" *ngIf="authenticatedUser">
        <img *ngIf="authenticatedUser?.photoURL" matListAvatar src="{{authenticatedUser?.photoURL}}" alt="{{authenticatedUser?.displayName}}">
        <h3 matLine> {{authenticatedUser?.displayName}} </h3>
        <h4 matLine> {{authenticatedUser?.email}} </h4>
        <p>
          <button mat-button (click)="signOut()">Sign Out</button>
        </p>
      </mat-list-item>
      <mat-list-item (click)="showPlayer()" *ngIf="authenticatedPlayer">
        <img matListAvatar src="{{(authenticatedPlayer | userAvatarImageUrl )?.height(40).width(40).url()}}" alt="{{authenticatedUser?.displayName}}">
        <h3 matLine> {{authenticatedPlayer?.nickname}} </h3>
        <h1>#{{(authenticatedPlayer.id | playerRank | async)?.rank}}</h1>
      </mat-list-item>
      <mat-list-item *ngFor="let favorite of favoriteUsers | async" (click)="showPlayer(favorite.id)" >
        <img matListAvatar src="{{(favorite | userAvatarImageUrl )?.height(40).width(40).url()}}" alt="{{authenticatedUser?.displayName}}">
        <h3 matLine>{{favorite.nickname}}</h3>
        <h1 *ngIf="(favorite.id | playerRank | async) as playerRank">#{{playerRank.rank}}</h1>
      </mat-list-item>
      <mat-list-item (click)="chooseAvatar()" *ngIf="authenticatedUser && !authenticatedPlayer">
        <mat-icon>face</mat-icon>
        <h3 matLine>Your Avatar</h3>
      </mat-list-item>

      <mat-list-item (click)="navigate(homeSelector)">
        <mat-icon>{{homeIcon}}</mat-icon>
        <h1 matLine class="mat-primary">School Day</h1>
      </mat-list-item>
      <mat-list-item (click)="navigate(playersSelector)">
        <mat-icon>people</mat-icon>
        <h1 matLine class="mat-primary">Players</h1>
      </mat-list-item>
      <mat-list-item (click)="navigateToLeaderboard()">
        <mat-icon>format_list_numbered</mat-icon>
        <h1 matLine class="mat-primary">Leaderboard</h1>
      </mat-list-item>
      <mat-list-item (click)="navigateToRules()">
        <mat-icon>library_books</mat-icon>
        <h1 matLine class="mat-primary">Rules</h1>
      </mat-list-item>
      <mat-list-item (click)="navigate(faqSelector)">
        <st-faq-icon></st-faq-icon>
        <h1 matLine class="mat-primary">Answers</h1>
      </mat-list-item>
      <mat-list-item (click)="navigate(aboutSelector)">
        <mat-icon>info</mat-icon>
        <h1 matLine class="mat-primary">About</h1>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-24">menu</mat-icon>
    </button>
    <a style="cursor: pointer" (click)="navigate(homeSelector)">{{title}}</a>
    <img width="25px" src="assets/images/logo/school-tag-logo.svg" />
  </mat-toolbar>
  <div class="app-content" >
    <main >
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-sidenav-container>

