<mat-toolbar>
  <st-faq-icon></st-faq-icon>
  <span>Questions & Answers</span>
  <span></span>
</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel *ngFor="let faq of faqs | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{faq.subject}}
      </mat-panel-title>
      <mat-panel-description>
        {{faq.question}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{faq.answer}}</p>
    <mat-action-row *ngIf="faq.links">
      <span *ngFor="let link of faq.links" style=";padding-right: 25px">
        <button
          mat-raised-button
          color="primary"
          (click)="viewLink(link)">{{link.title}}
        </button>
      </span>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
