

.st-points  {
  font-size: 75px;
  font-weight: bold;
  height: 100px;
}

.st-points-for-rule{
  font-weight: bold;
  padding-left: 3px;
}


.st-rewards-header {
  font-size: 20px;
  font-weight: bold;
}
.st-totals-title {
  font-weight: bold;
  font-size: 20px;
  width: 30%;
}

.st-totals-points{
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 5px;
  text-align: right;
  width: 10%;
}

.st-totals-points-for-rule{
  font-size: medium;
}

table {
  width: 100%;
}

.mat-card-title{
  text-align: left;
}

.mat-icon-large{
  font-size: x-large;
}
.mat-card-subtitle{
  text-align: left;
}

.mat-card-content{
  text-align: left;
}

@keyframes game-is-ending {
  0%, 100% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FFBF00;
  }
}

@keyframes game-is-over {
  0%, 100% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FF4136;
  }
}
