<mat-toolbar color="primary" (click)="fullScreen()">
  <img width="25px" src="assets/images/logo/school-tag-logo.svg"/>
  <game-state (updated)="gameStateUpdated($event)"
  ></game-state>
  <span></span>
</mat-toolbar>
<mat-card *ngIf="gameState.upcoming">
  <mat-card-title-group>
    <mat-card-title>Starting soon...</mat-card-title>
    <mat-card-subtitle>Today's game hasn't started yet. Come back later for updates.</mat-card-subtitle>
    <mat-icon>hourglass_full</mat-icon>
  </mat-card-title-group>
</mat-card>
<mat-card *ngIf="gameState.nearTheEnd">
  <mat-card-title-group>
    <mat-card-title>The bell rang!</mat-card-title>
    <mat-card-subtitle>Line up for morning assembly.</mat-card-subtitle>
    <mat-icon>notification_important</mat-icon>
  </mat-card-title-group>
  <mat-card-content>
    Tag in to get rewarded. Check your results quickly and go line up.
  </mat-card-content>
</mat-card>
<div *ngIf="userViewing">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{userViewing.nickname}}</mat-card-title>
      <img mat-card-sm-image src="{{(userViewing | userAvatarImageUrl)?.height(200).width(200).url()}}"
           alt="Avatar">
    </mat-card-title-group>
    <rule-icon ruleId="morningArrivalEarly"></rule-icon>

    <mat-card-content>
      <div *ngIf="(dayTotalsForUserViewing | async) as dayRewards">
        <div class="st-rewards-header" colspan="2">Today's Rewards</div>
        <span class="st-points">{{ dayRewards.points}}</span>
        <mat-grid-list cols="2" rowHeight="30px">
          <mat-grid-tile *ngFor="let ruleId of Object.keys(dayRewards.pointsForRules)">
            <rule-icon [ruleId]="ruleId" showTitle="true"></rule-icon>
            <span class="st-points-for-rule">{{dayRewards.pointsForRules[ruleId]}}</span>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <hr/>
      <table>
        <tr *ngIf="(weekTotalsForUserViewing | async) as weekRewards">
          <td class="st-totals-title">This Week:</td>
          <td class="st-totals-points">{{ weekRewards.points}}</td>
          <td width="60%">
            <mat-grid-list cols="3" rowHeight="40px">
              <mat-grid-tile *ngFor="let ruleId of Object.keys(weekRewards.pointsForRules)"
                             class="st-totals-points-for-rule">
                <rule-icon [ruleId]="ruleId"></rule-icon>
                <span class="st-points-for-rule">{{weekRewards.pointsForRules[ruleId]}}</span>
              </mat-grid-tile>
            </mat-grid-list>
          </td>
        </tr>
        <!-- add a line across the page for viewing clarity -->
        <tr>
          <td colspan="5">
            <hr/>
          </td>
        </tr>
        <tr *ngIf="(yearTotalsForUserViewing | async) as totalRewards">
          <td class="st-totals-title">Totals:</td>
          <td class="st-totals-points">{{ totalRewards.points}}</td>
          <td width="60%">
            <mat-grid-list cols="3" rowHeight="40px">
              <mat-grid-tile *ngFor="let ruleId of Object.keys(totalRewards.pointsForRules)"
                             class="st-totals-points-for-rule">
                <rule-icon [ruleId]="ruleId"></rule-icon>
                <span class="st-points-for-rule">{{totalRewards.pointsForRules[ruleId]}}</span>
              </mat-grid-tile>
            </mat-grid-list>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<mat-card *ngIf="gameState.past">
  <mat-card-title-group>
    <mat-card-title>School Started!</mat-card-title>
    <mat-card-subtitle>Line up for morning assembly.</mat-card-subtitle>
    <mat-icon>notification_important</mat-icon>
  </mat-card-title-group>
  <mat-card-content>
    Tag in to notify your loved ones that you made it. Arrive earlier for the most rewards.
  </mat-card-content>
</mat-card>
<!-- example of progress bar when ready for it.
<mat-card>
<mat-card-title-group>
  <mat-card-title style="text-align: left">Alabama</mat-card-title>
  <mat-card-subtitle>Checked in at 2nd and Main</mat-card-subtitle>
  <img mat-card-sm-image>
</mat-card-title-group>
<mat-card-actions>
  <mat-icon  style="float: left">home</mat-icon>
  <mat-icon >directions_bike</mat-icon>
  <mat-icon style="float: right">school</mat-icon>
  <mat-progress-bar [value]="20" bufferValue="100"></mat-progress-bar>
  <span style="float:left;font-weight: bold">7:54</span>
  <span> ==> </span>
  <span style="float:right;font-weight: bold">1,200 meters</span>
</mat-card-actions>
</mat-card>
-->


