<mat-toolbar>
  <mat-icon color="primary">people</mat-icon>
  <span>Players</span>
  <span></span>
</mat-toolbar>
<mat-list>
  <mat-nav-list>
    <mat-list-item *ngFor="let user of users | async" (click)="viewUser(user)">
      <img matListAvatar [src]="user | userAvatarImageUrl"/>
      <h1 matLine class="mat-primary">{{user.nickname}}</h1>
    </mat-list-item>
  </mat-nav-list>
</mat-list>
