<mat-toolbar>
  <button mat-icon-button style="float: left" (click)="previousDay()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <!-- display a countdown on the day of -->
  <span *ngIf="!nextDayIsAvailable">
    <span *ngIf="gameIsUpcoming">Starts {{gameStartTime | amTimeAgo}}</span>
    <span *ngIf="gameIsActive">Ends {{schoolStartTime | amTimeAgo}}</span>
    <span *ngIf="gameIsPast">Finished {{schoolStartTime | amTimeAgo}} </span>

    </span>
  <span *ngIf="nextDayIsAvailable">{{day | gameDay}}</span>
  <span>
    <button mat-icon-button style="float: right" (click)="today()" disabled="{{!nextDayIsAvailable}}">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-icon-button style="float: right" (click)="nextDay()" disabled="{{!nextDayIsAvailable}}">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-grid-list cols="4" style="cursor:pointer">
  <mat-grid-tile *ngFor="let message of messages | async" (click)="viewUser(message.aboutUser.id)"
                 title="{{message.text}}" [style.background-image]="backgroundImageUrl(message)"
  style="background-size: cover; ">
    <!--<img matListAvatar [src]="avatarImageUrl(message)" width="100%" style="position: absolute; opacity: 0.2">-->
    <!-- fon scales with page, points are big, but title bar is smaller -->
    <div style="font-size: 10vw;color:mediumpurple; position: relative; font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; ">
      {{message.aboutPayload.points}}
    </div>
    <mat-grid-tile-header style="font-size: 3vw;background-color: transparent; font-weight: bold">
      <span matLine style="color:mediumpurple;
      text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF; ">{{message.aboutUser.nickname}}</span>
    </mat-grid-tile-header>
    <mat-grid-tile-footer *ngIf="message.aboutPayload"
                          style="background-color: transparent">
      <rule-icon *ngIf="message.aboutPayload" [ruleId]="message.aboutPayload.ruleId"
                 style="text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF;"
                 ></rule-icon>
      <coins-reward-icon *ngIf="message.aboutPayload.coins"></coins-reward-icon>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<span *ngIf="(messages | async)?.length === 0">
  <mat-card *ngIf="isToday(); else notGameDay">
    <mat-card-title>Get Ready to Play</mat-card-title>
    <mat-card-content>
      <p>Arrive before 8:10 to get the most rewards.</p>
      <p>Keeping your car off campus rewards extra points.</p>
      <div style="font-size: 16px; font-weight: bold; padding-bottom: 10px;">
        <div>
          <a href="/rules#walk"><rule-icon ruleId="arrivedByFoot"></rule-icon>Walk</a>
        </div>
        <div>
          <a href="/rules#bike"><rule-icon ruleId="arrivedByBike"></rule-icon>Bike</a>
        </div>
        <div>
          <a href="/rules#bus"><rule-icon ruleId="arrivedByBus"></rule-icon>Bus</a>
        </div>
        <div>
          <a href="/rules#parkwalk"><car-reward-icon></car-reward-icon>Park & Walk<rule-icon
            ruleId="arrivedByFoot"></rule-icon></a>
        </div>
      </div>
      <p>This page will update as Players receive rewards.</p>
    </mat-card-content>
  </mat-card>
   <ng-template #notGameDay>
     <mat-card>
      <mat-card-title>Not A Game Day</mat-card-title>
       <mat-card-subtitle>School Tag was not played.</mat-card-subtitle>
     </mat-card>
  </ng-template>
</span>
