<mat-toolbar>
  <mat-icon color="primary">library_books</mat-icon>
  <span>Longfellow School Tag</span>
  <span></span>
</mat-toolbar>
<mat-card id="play">
  <mat-card-title>How to Play</mat-card-title>
  <mat-card-content>
    <p>
      <mat-icon color="primary">loyalty</mat-icon>
      Participating students must have a School Tag on their backpack.
    </p>
    <p>
      <mat-icon color="primary">phonelink_ring</mat-icon>
      Players scan their Tag at the School Tag Station when arriving to morning assembly.
    </p>
    <p>
      <mat-icon color="primary">library_books</mat-icon>
      Follow the rules on this page to earn rewards.
    </p>
    <p>
      <points-reward-icon></points-reward-icon>
      Points are used to rank players on the leaderboard.
    </p>
    <p>
      <app-route-icon [selector]="prizesSelector"></app-route-icon>
      Earn more points to earn more prizes.
    </p>
  </mat-card-content>
</mat-card>
<mat-card id="{{rule.id}}" *ngFor="let rule of rules | async" >
  <mat-card-title>{{rule.title}}</mat-card-title>
  <mat-card-content>
    <p>
      <mat-icon color="primary">{{rule.icon}}</mat-icon>
      {{rule.description}}
    </p>
  </mat-card-content>
</mat-card>




