b{
  font-size: 20px;
}
mat-card{
  text-align: left;
}
mat-icon {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: text-bottom;
}

img{
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: text-bottom;
}
