<mat-toolbar>
  <span>Gamifying the School Commute</span>
  <mat-icon color="primary">directions_walk</mat-icon>
  <mat-icon color="primary">directions_bike</mat-icon>
  <mat-icon color="primary">directions_bus</mat-icon>
  <mat-icon color="primary">directions_car</mat-icon>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <p>
      <b>School Tag&trade;</b> is gamifying the school commute to encourage student's wellness and independence
      while reducing automobile traffic around schools. A student uses a smart tag to <i>tag in</i>
      at school to receive points for competition and prizes.
    </p>
  </mat-card-content>
  <!--<mat-card-actions>-->
    <!--<a href="http://schooltag.org">-->
      <!--<button mat-mini-fab>-->
        <!--<mat-icon>info</mat-icon>-->
      <!--</button>-->
    <!--</a>-->
  <!--</mat-card-actions>-->
</mat-card>
<mat-card>
  <mat-card-content>
    <p>
      Created by volunteer parents and students of
      <a href="http://willowcreekacademy.org">Willow Creek Academy</a> in Sausalito, CA.
    </p>
    <p>
      <a href="http://schooltag.org">School Tag</a> is an <a href="https://bitbucket.org/school-tag">open source</a> community built application.
    </p>
    <p>Guided by the principles of <a
      href="http://saferoutestoschools.org">Safe Routes to School</a>.</p>
  </mat-card-content>
  <mat-card-actions>
    <a href="mailto:help@schooltag.org?subject=School Tag">
      <button mat-mini-fab color="primary">
        <mat-icon>email</mat-icon>
      </button>
    </a>
    <a href="https://connect.clickandpledge.com/w/Form/a4762ad8-8619-40dc-8165-59926f43d306?prv=353710">
      <button mat-mini-fab color="primary">
        <!-- TODO: move this to icon registry -->
        <img src="assets/images/nouns/noun_Donate_29964.svg" width="24px"/>
      </button>
    </a>
    <button mat-mini-fab color="primary" (click)="viewPrivacy()">
      <mat-icon>privacy_tip</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

