
<mat-card>
  <mat-card-title>What is your age?</mat-card-title>
  <mat-card-content>
   <button mat-raised-button color="primary" (click)="under13Chosen()">Under 13</button>
   <button mat-raised-button color="primary" (click)="oldEnoughChosen()">13 or older</button>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="under13">
  <mat-card-title>Keep growing...</mat-card-title>
  <mat-card-content>
   <h4>Sorry, but you are too young to sign in. You may use the website without signing in.</h4>
    <h4>Keep playing by getting your school tag scanned and follow the rules.</h4>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="oldEnough && !under13">
  <mat-card-title>Sign In</mat-card-title>
  <mat-card-content>
    <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>
  </mat-card-content>
</mat-card>

<mat-card >
  <mat-card-title>Your Privacy Is Important</mat-card-title>
  <mat-card-content>
    <p>Protecting your <b>privacy</b> is very important to School Tag developers.</p>
    <p>Signing in is not required to play or observe the game.</p>
    <p>NFC Smart Tags hold no personal information.</p>
    <p>NFC Smart Tags have a unique identifier used to track players.</p>
    <p>Real time location of a player can be determined when arriving at school.</p>
    <p>Historical routes and times of a player could be determined by observers.</p>
    <p>A tag is only scanned when the player is participating.</p>
    <p>A tag can only be scanned by an NFC reader within a few centimeters.</p>
    <p>You must be at least 13 to Sign In.</p>
    <p>Students under 13 may play and view, but not sign in.  <a href="https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act">Read more.</a> </p>
    <p> Your personal information is stored and protected
      by <a href="https://firebase.google.com/products/auth/">Google's authentication services.</a></p>
    <p>School Tag does not have access to the password you enter.</p>
    <p>Your true identity is not shown to any players besides you.</p>
    <p>Your personal information will never be shared or exported from the School Tag system.</p>
    <p>Personal information may include: Name | Email | Phone Number</p>
    <p>Only School Tag System Administrators can see your personal information.</p>
    <p>Your "Gamemaster" from your school may be a System Administrator.</p>
    <p>Your "Avatar" will represent your actions taken in the game and shown to others.</p>
    <p>Anonymous statistics may be used to improve the game, the school and the community.</p>
  </mat-card-content>
</mat-card>


