<h2 mat-dialog-title>{{scan.timestamp | gameDayTime}}</h2>
<mat-dialog-content>
  <hr/>
  <!-- show the scanner if available with the phone scanning icon -->
  <span *ngIf="scanningUser | async as user">
    <button mat-raised-button color="primary" (click)="viewUser(user.id)">
      <b> {{ user.nickname }}</b>
      <img src="{{(user | userAvatarImageUrl)?.height(20).width(20).url()}}"/>
    </button>
    <!-- FIXME: the default icon is copied at user component html -->
    <rule-icon [ruleId]="scan.category" [defaultIconName]="'phonelink_ring'"></rule-icon>

  </span>
  <!-- always show who got scanned -->
  <button *ngIf="scannedUser | async as user " mat-raised-button color="primary" (click)="viewUser(user.id)">
    <img src="{{(user | userAvatarImageUrl)?.height(20).width(20).url()}}"/>
    <b> {{ user.nickname }}</b>
  </button>
  <!-- show station if available -->
  <span *ngIf="scan.station">
    <span>@</span>
    <button mat-raised-button color="primary" (click)="viewStation(scan.station)">
      <b> {{ (scan.station | station | async)?.name }}</b>
    </button>
  </span>

  <hr/>
  <!-- list each reward -->
  <div *ngFor="let rewardEntry of (rewardsForScan | async) | entries">
    <button mat-raised-button color="primary" style="width:100%"
            (click)="viewRewardDetails(rewardEntry.value.ruleId,rewardEntry.value.points)">
      {{(rewardEntry.value.ruleId | rule | async)?.title}}
      <mat-icon>info</mat-icon>
    </button>
    <h3>
      <points-reward-icon></points-reward-icon>
      {{rewardEntry.value.points}}
    </h3>
    <h3>
      <coins-reward-icon></coins-reward-icon>
      {{rewardEntry.value.coins}}<span *ngIf="!rewardEntry.value.coins">0</span></h3>
    <h3 *ngIf="rewardEntry.value.metersToSchool !== undefined">
      <distance-reward-icon></distance-reward-icon>
      {{rewardEntry.value.metersToSchool | number }} meters</h3>
    <hr/>
  </div>
  <div *ngIf="((rewardsForScan | async) | entries)?.length == 0">
    <h3>No rewards achieved with this scan.</h3>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button style="width:100%" mat-raised-button mat-dialog-close>OK</button>
</mat-dialog-actions>
