<coins-reward-icon *ngIf="showCoinIcon"></coins-reward-icon>
<mat-icon  *ngIf="!showCoinIcon" [color]="materialColor" [style.color]="iconColor" >{{iconName}}</mat-icon>
<span *ngIf="showTitle">{{rule.title}}</span>
