<mat-toolbar *ngIf="tag | async as tag">
  <img matListAvatar src="{{(tag | tagImageUrl | async)?.width(60).height(60).url()}}"/>
  <p matLine class="mat-primary">{{(tagCategory | async)?.description}}</p>
  <mat-icon>{{(tagCategory | async)?.icon}}</mat-icon>
</mat-toolbar>
<mat-list>
  <mat-nav-list>
    <mat-list-item *ngIf="user | async; let user;" (click)="viewUser(user.id)">
      <h1 matLine class="mat-primary">{{user.nickname}}</h1>
      <img matListAvatar [src]="(user | userAvatarImageUrl).url()">
    </mat-list-item>
  </mat-nav-list>
  <mat-toolbar matLine class="mat-secondary"  *ngIf="day | gameDay as dayDisplay">{{dayDisplay}}</mat-toolbar>
  <mat-nav-list>
    <mat-list-item *ngFor="let scan of scans | async" (click)="viewScan(scan)">
      <h1 matLine class="mat-primary">{{scan.timestamp | gameDayTime}}</h1>
      <img matListAvatar src="{{(scan.authUid | authUidAvatarImageUrl | async)?.width(50).height(50).url()}}">
    </mat-list-item>
  </mat-nav-list>
</mat-list>
