<mat-toolbar>
  <mat-icon>face</mat-icon>
  <span>Identity</span>
  <span>
    <coins-reward-icon *ngIf="grandTotalRewards"></coins-reward-icon>
    {{grandTotalRewards?.coins }}
  </span>
</mat-toolbar>
<!-- Real identity -->
<mat-card *ngIf="authenticatedUser">
  <mat-card-title>Your Real Identity</mat-card-title>
  <mat-card-content>
    <mat-card-content>
      <p>{{authenticatedUser?.displayName}}</p>
      <p><img matListAvatar src="{{authenticatedUser?.photoURL}}" alt="{{authenticatedUser?.displayName}}" width="50"
              height="50"></p>
      <p> {{authenticatedUser?.email}} </p>
      <p>Not shown to anyone</p>
    </mat-card-content>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="notAuthenticated">
  <mat-card-title>Know thyself?</mat-card-title>
  <mat-card-content>
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
    </mat-card-content>
  </mat-card-content>
</mat-card>

<!-- Your Avatar -->
<mat-card *ngIf="authenticatedPlayer">
  <mat-card-title>Your Avatar</mat-card-title>
  <mat-card-content>
    <mat-card-content>
      <p>This is your game identity and will be shown to others.</p>
      <img matListAvatar [src]="(authenticatedPlayer | userAvatarImageUrl).width(50).height(50)"/>
      <h1 matLine class="mat-primary">{{authenticatedPlayer.nickname}}</h1>
    </mat-card-content>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="authenticatedUser && !authenticatedPlayer" id="choosePlayerType">
  <mat-card-title>Your Avatar</mat-card-title>
  <mat-card-content>
    <mat-card-content>
      <p>Your Game Avatar is shown to others to represent you.</p>
      <p>Your Game Avatar should not have any relation to who you really are.</p>
      <p><b>Choose</b> one of the following to find your Avatar:</p>
      <mat-button-toggle-group #playerType="matButtonToggleGroup" [vertical]="true"
                               (change)="playerTypeSelected(playerType.value)">
        <mat-button-toggle [value]="playerTypes.StudentWithTag">I am a Student with a School Tag.</mat-button-toggle>
        <mat-button-toggle [value]="playerTypes.StudentWithoutTag">I am a Student, but I don't have a School Tag.
        </mat-button-toggle>
        <mat-button-toggle [value]="playerTypes.NotAStudent">I am not a Student.</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>

  </mat-card-content>
</mat-card>
<mat-card id="playerChoiceInstructions">
  <div *ngIf="playerTypeChosen == playerTypes.StudentWithTag">
    <mat-card-title>Scan Your School Tag</mat-card-title>
    <mat-card-content>
      <mat-card-content>
        <p> An avatar is associated to your School Tag.</p>
        <p>Scan your School Tag, within the next minute, and we'll associate it to you.</p>
      </mat-card-content>
    </mat-card-content>
  </div>
  <div *ngIf="playerTypeChosen == playerTypes.StudentWithoutTag">
    <mat-card-title>Get Your School Tag</mat-card-title>
    <mat-card-content>
      <mat-card-content>
        <p> Go to the School Tag Station near the MPR before morning assembly.</p>
        <p>A volunteer will give you a free School Tag.</p>
      </mat-card-content>
    </mat-card-content>
  </div>
  <div *ngIf="playerTypeChosen == playerTypes.NotAStudent && !authenticatedPlayer">
    <mat-card-title>Choose Your Avatar</mat-card-title>
    <mat-card-content>
      <p>You are not a student so you won't use a School Tag to play.</p>
      <p>Using your Avatar, you can reward students playing the game.</p>
      <p>Choose one of the Avatars below...</p>
      <mat-list>
        <mat-nav-list>
          <mat-list-item *ngFor="let identity of avatarSuggestions | async" (click)="chooseIdentity(identity)">
            <img matListAvatar [src]="identity | userAvatarImageUrl"/>
            <h1 matLine class="mat-primary">{{identity.nickname}}</h1>
          </mat-list-item>
        </mat-nav-list>
      </mat-list>
    </mat-card-content>
  </div>
</mat-card>

