<div *ngIf="rule|async as r">
  <h3>{{r.title}}<rule-icon [ruleId]="r.id"></rule-icon></h3>
  <hr/>
  <b> {{earnedMessage}}</b>
<hr/>
  <mat-dialog-content>
    <p>{{r.description}}</p>
    <p>{{r.why}}</p>
    <p>{{r.how}}</p>
    <p>{{r.encouragement}}</p>
    <p>{{r.restrictions}}</p>
  </mat-dialog-content>
  <hr/>
  <mat-dialog-actions>
    <button style="width:100%" mat-raised-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</div>
