<mat-toolbar>
  <a href="https://en.wikipedia.org/wiki/{{ (user | async)?.nickname }}" target="_blank">
    <!-- using [src]=(avatarImageUrl | async)" makes a null call. -->
    <img src="{{(user | async | userAvatarImageUrl)?.height(40).width(40).url()}}"/>
  </a>
  <span> {{ (user | async)?.nickname }} <label *ngIf="(playerRank|async)?.rank as rank">#{{rank}}</label></span>
  <span>
    <button mat-icon-button color="primary" *ngIf="!favorite" (click)="markAsFavorite()">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="favorite" (click)="removeAsFavorite()">
      <mat-icon>favorite</mat-icon>
    </button>
  </span>
</mat-toolbar>
<!-- Bonus Rewards ... at the top for ease of the reward giver https://trello.com/c/827a5bhp -->
<mat-card *ngIf="offerBonusRewards">
  <mat-card-title>Give Rewards?</mat-card-title>
  <mat-card-content>
    <button mat-raised-button class="bonus-button" (click)="sendRewardScan('loneWolf')">
      <mat-icon>person</mat-icon>
      <div><b>Lone Wolf</b></div>
    </button>
    <button mat-raised-button class="bonus-button" (click)="sendRewardScan('wolfPack')">
      <mat-icon>people</mat-icon>
      <div><b>Wolf Pack</b></div>
    </button>
    <button mat-raised-button class="bonus-button" (click)="sendRewardScan('bikeTrain')">
      <mat-icon>train</mat-icon>
      <div><b>Bike Train </b></div>
    </button>
    <button mat-raised-button class="bonus-button" (click)="sendRewardScan('bigBuddy')">
      <mat-icon>child_care</mat-icon>
      <div><b>Big Buddy</b></div>
    </button>
    <button mat-raised-button class="bonus-button" (click)="sendRewardScan('carpool')">
      <mat-icon>directions_car</mat-icon>
      <div><b>Carpool</b></div>
    </button>
    <button mat-raised-button class="bonus-button" (click)="sendRewardScan('safetyPatrol')">
      <mat-icon>transfer_within_a_station</mat-icon>
      <div><b>Safety</b></div>
    </button>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="offerBonusRewardsIfSignedIn">
  <mat-card-title>Give Rewards?</mat-card-title>
  <mat-card-content>
    <h4>Adults with smartphones can provide bonus rewards for good behavior.</h4>
    <h4>Sign in and scan the tag again.</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="signIn()">
      <mat-icon>face</mat-icon>
      <div><b>Sign In</b></div>
    </button>
  </mat-card-actions>
</mat-card>
<!-- DAY -->
<mat-card *ngIf="day | gameDay as dayDisplay">
  <mat-card-title>{{dayDisplay}}</mat-card-title>
  <button mat-mini-fab color="basic" style="float: left" (click)="previousDay()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-mini-fab color="basic" style="float: right;" (click)="nextDay()" disabled="{{!nextDayAvailable}}">
    <mat-icon>navigate_next</mat-icon>
  </button>
  <button mat-mini-fab color="basic" style="float: right" (click)="today()" disabled="{{!nextDayAvailable}}">
    <mat-icon>today</mat-icon>
  </button>
  <mat-card-content>
    <div class="st-points">
      <span>{{dailyTotal}}</span>
    </div>
    <span class="st-action-icons" *ngFor="let icon of iconsForDay">
      <!-- show all icons for the day -->
      <button mat-mini-fab color="basic" (click)="viewRewardDetails(icon, dayDisplay)">
        <rule-icon [ruleId]="icon.ruleId"></rule-icon>
      </button>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <span style="padding-right: 10px;">
      <button mat-mini-fab color="basic" (click)="viewSchoolDay()">
        <mat-icon>view_list</mat-icon>
      </button>
      <span *ngFor="let tag of tags  | async">
        <button mat-mini-fab color="basic" (click)="viewTag(tag.id)">
          <mat-icon>phonelink_ring</mat-icon>
        </button>
      </span>
    </span>

  </mat-card-actions>
</mat-card>
<!-- WEEK -->
<mat-card *ngIf="day | gameWeek as weekDisplay">
  <mat-card-title>{{weekDisplay}}</mat-card-title>
  <button mat-mini-fab color="basic" style="float: left" (click)="previousWeek()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-mini-fab color="basic" style="float: right" (click)="nextWeek()" disabled="{{!nextWeekAvailable}}">
    <mat-icon>navigate_next</mat-icon>
  </button>
  <mat-card-content>
    <mat-card-content>
      <div class="st-points">{{rewardsForWeek?.points }}
      </div>
      <div>
        <!-- show all icons for the week -->
        <span *ngFor="let icon of iconsForWeek" class="st-action-icons">
        <button mat-mini-fab color="basic" (click)="viewRewardDetails(icon, weekDisplay)">
           <rule-icon [ruleId]="icon.ruleId"></rule-icon>
        </button>
          </span>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>
<!-- GRAND -->
<mat-card>
  <mat-card-title>Grand Totals</mat-card-title>
  <mat-card-content>
    <mat-card-content>
      <div class="st-points">{{grandTotalRewards?.points }}
      </div>
      <div>
        <!-- show all icons for the week -->
        <span *ngFor="let icon of iconsForGrandTotals" class="st-action-icons">
          <button mat-mini-fab color="basic" (click)="viewRewardDetails(icon, 'this competition')">
              <rule-icon [ruleId]="icon.ruleId"></rule-icon>
          </button>
        </span>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>
<!-- Tags -->
<mat-card *ngIf=" (tags | async)?.length > 0 ">
  <mat-card-title>Tags</mat-card-title>
  <mat-card-content>
    <span *ngFor="let tag of tags  | async">
      <button mat-raised-button style="padding-top: 20px;padding-bottom: 20px" (click)="viewTag(tag.id)">
        <img src="{{(tag | tagImageUrl | async)?.width(60).height(60).url()}}"/>
      </button>
    </span>
  </mat-card-content>
  <!-- Used to associate tags with other tags in the past -->
<!--  <mat-card-actions>-->
<!--    <button mat-mini-fab color="basic" (click)="addTag()">-->
<!--      <mat-icon>add_circle_outline</mat-icon>-->
<!--    </button>-->
<!--  </mat-card-actions>-->
</mat-card>
<!-- Scans -->
<mat-card *ngIf=" (scans | async)?.length > 0 ">
  <mat-card-title>Scans</mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="8" rowHeight="1:1">
      <mat-grid-tile *ngFor="let scan of scans | async">
        <button mat-raised-button class="bonus-button" (click)="viewScan(scan)">
          <!-- FIXME: the default icon is copied at scan dialog -->
          <rule-icon [ruleId]="scan.category" [defaultIconName]="'phonelink_ring'"></rule-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

