.st-points  {
  font-size: 75px;
  font-weight: bold;
  height: 100px;
}

mat-card {
  height: 240px;
}

mat-icon {
  padding-left: 5%;
}

.st-action-icons{
  padding-right: 10px;
}

.bonus-button{
  margin: 5px;
  width: 60px;
  height: 60px;
}
