<h2>Developers</h2>
<mat-list>
  <mat-list-item>
    <h2 matLine>Branch</h2>
    <p matLine>
      <a href="{{environmentInfo.branchUrl}}">{{environmentInfo.branch}}</a>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine>Commit</h2>
    <p matLine>
      <a href="{{environmentInfo.commitUrl}}">{{environmentInfo.commit}}</a>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine>Build</h2>
    <p matLine>
      <a href="{{environmentInfo.buildUrl}}">{{environmentInfo.buildNumber}}</a>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine>Environment</h2>
    <p matLine>
      <a href="{{environmentInfo.selfUrl}}">{{environmentInfo.environment}}</a>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine>Firebase</h2>
    <p matLine>
      <a href="https://console.firebase.google.com/project/{{environmentInfo.projectId}}/hosting/main">{{environmentInfo.projectId}}</a>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img src="assets/images/developer/web-storm-logo.png" width="30px" height="30px" target="_blank"/>
    <p>
      Built using <a href="https://www.jetbrains.com/webstorm/">WebStorm
    </a>
    </p>
  </mat-list-item>
</mat-list>


